<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}/v2.0"/>
		<add key="ida:Tenant" value="organizations"/>
		<add key="ida:ClientId" value="[OneDriveFilesDemo clientid]"/>
		<add key="files:ServiceScope" value="api://[OneDriveFilesDemo clientid]/access_as_user"/>
		<add key="files:Connect" value="http://localhost:7071/api/Connect"/>
	</appSettings>
</configuration>